@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main {
    /* border: 2px solid black; */
    /* width: 1728px; */
    /* height: 2249px; */
    background-color: #F6F4F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.con-1 {
    /* border: 1px solid salmon; */
    background-color: #2a2c2e;
    width: 1200px;
    border-radius: 20px;
    padding: 20px 24px;
    margin: 24px 264px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .item-1,
.item-2,
.item-3 {
    border: 1px solid black;
} */

.item-1 {
    height: 40px;
    width: 166px;
}

.item-2 {
    height: 24px;
    width: 491px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.item-2>p {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

.item-2 p:nth-child(1) {
    color: #F4D867;
}

.item-3 {
    height: 56px;
    width: 258px;
}

.con-2 {
    /* border: 1px solid slateblue; */
    background-color: #F4CE47;
    width: 1728px;
    /* width: 100%; */
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.con-2>p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    text-transform: uppercase;
    color: #F4BA30;
}

.con-2 p:nth-child(3) {
    color: #2A2C2E;
}

.con-3 {
    /* border: 1px solid salmon; */
    width: 1729px;
    /* width: 100%; */
    background-color: #2A2C2E;
    padding-top: 42px;
    padding-bottom: 58px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.row-1,
.row-2,
.row-3 {
    /* border: 1px solid salmon; */
    /* height: 577px; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 24px;
    background-color: #FFFFFF;
    gap: 8px;
}

/* .book-cover {
    border: 1px solid black;
} */

.book-cover img {
    height: 357px;
    width: 246px;
    border-radius: 11.99px;
}

.description {
    /* border: 1px solid black; */
    width: 246px;
    height: 164px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: auto;
}

#desc-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 4px;
    width: 246px;
    height: 44px;
}

#desc-item>p {
    margin: 0px;
}

#desc-item p:nth-child(1) {
    height: 16px;
    width: 256px;

    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    size: 14px;
    line-height: 20px;
    letter-spacing: 0.15%;
    text-transform: capitalize;
    color: #000000;
}

#desc-item p:nth-child(2) {
    width: 245px;
    height: 48px;

    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15%;
    text-transform: capitalize;
    color: rgba(0,0,0,0.87);
}

#rating img{
    width: 162px;
    height: 32px;
}

#price {
    width: 138px;
    height: 32px;
}

.con-4 {
    border: 1px solid slateblue;
    background-color: #2A2C2E;

    display: flex;
    flex-direction: column;
}

.up,
.up-1,
.up-2,
.down,
.down-1,
.down-2 {
    border: 1px solid transparent;
}

.up {
    width: 1248px;
    height: 88px;
    padding: 0px 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.up-1 {
    display: flex;
    align-items: center;
}

.up-1 img {
    width: 204px;
    height: 48px;
}

.up-2 {
    width: 104px;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.down {
    width: 1248px;
    height: 40px;
    padding: 0px 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.87);
}

.down-1,
.down-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 16px;
}

.down-1 {
    width: 218px;
}

.down-2 {
    width: 263px;
}


.down-1>p,
.down-2>p {
    font-family: 'Inter', san-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
}